<%- include header %>

<div class="main">
    <div class="post-area">
        <div class="search">
            <form method="post" action="/post/search">
                <input type="text" name="keyword" placeholder="输入关键词进行搜索" autocomplete="off" />
            </form>
        </div>
        <% for (var post of posts) { %>
            <%- include ./components/post-block %>
        <% } %>

        <% if (counts > frontLimit) { %>
            <%- paging %>
        <% } %>
    </div>
    <div class="module-area">
        <%- include ./components/introduce %>
    </div>
</div>


<%- include footer %>
