<div class="post-block">
    <div class="title"><a title="<%= post.title %>" href="<%= post.category.url %>/<%= post._id %>"><%= post.title %></a></div>
    <div class="description"><p><%= post.excerpt %></p></div>
    <div class="addition clearfix">
        <div class="date">
            <!--<img src="/images/date.png" />-->
            <span><%= post.date %></span>
        </div>
        <div class="view">
            <img src="/images/view.png" />
            <a href="/post/view/<%= post._id %>"><%= post.views %></a>
        </div>
        <!--<div class="comment">
            <img src="/images/comment.png" />
            <a href="/post/view/<%= post._id %>">100</a>
        </div>-->
    </div>
</div>